# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\I Wal\OneDrive - De Haagse Hogeschool\Jaar 1\Semester 2\OPT2\OPT2 Portfolio Opdracht\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
